@model ClientManager.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceForPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceForPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
